.cfx::after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.header{
    height: .9rem;
    background: linear-gradient(-269deg, #3F86FF 1%, #679FFF 99%);
    font-size: .32rem;
    color: #fff;
    line-height: .9rem;
    position:relative;
    .arrow-left,
    .arrow-right{
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        width: .5rem;
    }
    .arrow-left{
        left: .67rem;
        background: url("../images/padeup.png") no-repeat center center;
        background-size: .5rem .5rem;;
    }
    .arrow-right{
        right: .67rem;
        background: url("../images/pagedown.png") no-repeat center center;
        background-size: .5rem .5rem;;
    }
    .date-txt{
       text-align: center;
       position: relative;
       width: 2.48rem;
       margin: 0 auto;
       &::after{
           position: absolute;
           content: "";
           background: url("../images/system-pull-down.png") no-repeat center center;
           top: 0;
           right: -.4rem;
           height: 100%;
           width: 0.36rem;
           background-size: .5rem .5rem;
       }
    }
}
.calendar-header{
    background: #fff;
    font-size: .26rem;
    color: #A6A8B6;
    padding-top: .52rem;
    &::after{
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
    li{
        width: .56rem;
        height: .56rem;
        float: left;
        text-align: center;
        line-height: .56rem;
        padding: 0 .255rem;
    }
}
// 日历
#calendar{
    width: 7.5rem;
    background: #fff;
    li{
        float: left;
        padding: .154rem .255rem;
        color: #333333;
        text-align: center;
        font-size: .34rem;
        position: relative;
        span{
            display: block;
            width: .56rem;
            height: .56rem;
            line-height: .56rem;
            border-radius: 50%;
            transition: background .2s, color .2s;
            &.defaultDay{
                background: #ECEDF1;
            }
            &.selected{
                background: #3F86FF;
                color: #fff;
            }
        }
        .error, .normal{
            position: absolute;
            width: .12rem;
            height: .12rem;
            border-radius: 50%;
            left: 50%;
            margin-left: -.06rem;
            bottom: 0;
        }
        .error{
            background: #FF7C00;
        }
        .normal{
            background: #00C06C;
        }
        &.prevMonth,
        &.nextMonth{
            color: #C0C4CC;
        }
    }
}
//弹出层
.dateModal{
    width: 7.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 0;
    background: rgba(0,0,0,.5);
    z-index: 999;
    .conetent{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #f7f7f7;
    }
    .dateScroll{
        &::after{
            content: "";
            display: block;
            clear: both;
            visibility: hidden;
            height: 0;
        }
    }
    .action{
        height: .88rem;
        display: none;
        font-size: .36rem;
        line-height: .88rem;
        position: relative;
        a{
            color: #007aff;
        }
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            border-bottom: 1px solid #EEEEEE;
            -webkit-transform: scaleY(.5);
            -webkit-transform-origin:0 0;
        }
    }
    .cancel, .enter{
        padding: 0 .2rem;
    }
    .cancel{
        float: left;
    }
    .enter{
        float: right;
    }
    .swiper-container{
        width: 33.333333%;
        height: 0;
        float: left;
        text-align: center;
        font-size: .36rem;
    }
    .swiper-slide{
        color: #666;
    }
    .swiper-slide-active{
        color: #000;
    }
}
//loading
.fixLoading{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 7.5rem;
    background: rgba(255, 255, 255, 0.1);
    z-index: 999;
    font-size: .26rem;
    display: none;
    div {
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: rgba(0, 0, 0, 0.66);
        border-radius: 10%;
        text-align: center;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -.35rem;
            margin-left: -.35rem;
            width: .7rem;
            height: .7rem;
        }
        span {
            position: absolute;
            width: 1.25rem;
            text-align: center;
            left: 50%;
            margin-left: -.625rem;
            bottom: .1rem;
            color: #fff;
        }
    }
}
    
